.div_catalog li{
    width: 100%;
    /*height: 120px;*/
    margin-top: 20px;
    background-color: #f3f3f3;
    text-align: left;
    /*line-height: 120px;*/
}
.div_catalog{
    height:680px;
    position: relative;
}
.div_catalog li button{
    position: absolute;
    right:5px;
    top:5px;
}
.div_catalog li span{
    text-align: left;
}
#view{
    height: 680px;
}
.div_content h2{
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}
.div_content p{
    text-indent:35px;
    line-height: 30px;
    font-size: 18px;


}
#view_note .itme_note{
    width: 100%;
    height: 30px;
    margin-top:10px ;
    overflow: hidden;
    background: #ffffff;

}
#view_note .itme_note p{
    line-height: 30px;
    text-indent:25px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}
