.div_catalog li{
    width: 100%;
    /*height: 120px;*/
    margin-top: 20px;
    background-color: #f3f3f3;
    text-align: left;
    /*line-height: 120px;*/
}
.div_catalog{
    height:680px;
    position: relative;
}
.div_catalog li span{
    text-align: left;
}
#view{
    height: 680px;
}
.div_content h2{
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
}
.div_content p{
    text-indent:35px;
    line-height: 30px;
    font-size: 18px;


}
#view_note .itme_note{
    width: 100%;
    margin-top:10px ;
    overflow: hidden;
    background: #7fee1166;
    border-radius: 5px;

}
#view_note .itme_note p{
    text-indent:25px;
    width: 100%;

}
.div_catalog input{
    position: absolute;
    left:-60px;
    top:0;
}
.container .row .div_catalog .but_clean{
    position: absolute;
    right:5px;
    top:5px;
}
.container .row .div_catalog .but_open{
    position: absolute;
    left:-85px;
    top:0;
    background: #3c3c3c33;

}
